.parent{
    background-color: blue;
    height: 1000px;
    width:300px;
    
    
}

.childOne{
    background-color: blueviolet;
   
    position:sticky;
    left:0px;
    top:0px;
    
    
}

.childTwo{
    background-color: aquamarine;
    width: 100%;
    height: 50px;
}

.childThree{

    background-color: brown;
    width: 100%;
    height: 50px;

}